.red{
    color:red; align-items: center;
}
#dec{
    background-color: red; color: white; 
}
#background{
    background-color: #071042; 
}
heading{
    color: aliceblue; font-size: 64px;
}
h2{
    color:wheat;
}
.source{
    font-size: 16px;
}
.img1{
 width:300px; 
}
.img2{
 width:600px; 
}
.img3{ 
 width:500px
}
.smoke{
    color:whitesmoke; align-items: center
}
#oct{
    background-color: whitesmoke; color: black; 
}
.sept{
    color:gray
}
#gris{
    background-color: gray; color: whitesmoke;
    
}
.flor{
    color: cornflowerblue
}
#ot{
    background-color:cornflowerblue; color: lightblue 
}
.naranja{
    color: orange
}
#desktop{
    background-color: orange ; color: black;
}
table, th, td{
    border:2px solid; color:white
}
table{
    width: 100%;
}
.header{
    color:red;
    font-size: 40px;
    font-family: fantasy;    
    text-align: center;
}
.header:hover{
    color:skyblue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body{
    text-align: center;
  }
  .footer{
    color:lightblue
  }
  .tablecenter {
    margin-left: auto;
    margin-right: auto;
  }
  .tooltip-text{
    width: 250px;
    height: 50px;
    font-size: 150%;
    text-align: left;
    background-color: cornflowerblue;
    color: black;
    text-align: center;
    border-radius:6px; 
    position: absolute;
    opacity: 0%;
  }
  .tooltip-img:hover .tooltip-text{
    opacity: 1;
  }
  a{
    color: black;
  }
  th{
    background-color: cornflowerblue;
  }
